# **Phase 2:**

## **Phase Introduction**

This notebook documents the Exploratory Data Analysis (EDA) and data cleaning process for the integrated dataset. The primary objectives of this phase are:

1. **Initial Data Inspection** – Understanding the structure, completeness, and potential issues in the dataset.  
2. **Exploratory Data Analysis (EDA)** – Identifying patterns, trends, and anomalies through statistical summaries and visualizations.  
3. **Data Cleaning & Preprocessing** – Handling missing values, duplicates, and irrelevant features, as well as normalizing or transforming data where necessary.  
4. **Comparison of Primary and Secondary Data** – Evaluating similarities, differences, and potential biases between the two sources.  

Each step is carefully documented, including the rationale behind data processing decisions, challenges encountered, and key findings. The insights gained will help guide further analysis and hypothesis development.

In [ ]:
import pandas as pd

df = pd.read_csv("Datasets/integrated.csv")  
print(df.info())  
print(df.head())  
print(df.describe())  # Summary statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32319 entries, 0 to 32318
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Disaster Group            32319 non-null  object
 1   Disaster Subgroup         32319 non-null  object
 2   Disaster Type             32319 non-null  object
 3   ISO                       32309 non-null  object
 4   Latitude                  4648 non-null   object
 5   Longitude                 4651 non-null   object
 6   Start Year                32319 non-null  int64
 7   Start Month               31864 non-null  float64
 8   Start Day                 27129 non-null  float64
 9   End Year                  32319 non-null  int64
 10  End Month                 31449 non-null  float64
 11  End Day                   27264 non-null  float64
 12  Total Deaths              24343 non-null  float64
 13  No. Injured               9848 non-null   float64
 14  No. Affected              16634 non-null  float64
 15  No. Homeless              3761 non-null   float64
 16  Total Affected            23588 non-null  float64
 17  Total Damages ('000 US$)  5245 non-null   float64
 18  Magnitude                 8363 non-null   float64
 19  Magnitude Scale           25105 non-null  object
dtypes: float64(11), int64(2), object(7)
memory usage: 4.9+ MB
None
  Disaster Group Disaster Subgroup Disaster Type  ISO Latitude Longitude  \
0        Natural       Geophysical    Earthquake  IDN  -1.9708  138.9033
1        Natural    Meteorological         Storm  NaN    -15.8      96.9
2        Natural    Meteorological         Storm  NaN    -20.0     75.83
3        Natural       Geophysical    Earthquake  TWN  23.1911  120.5429
4        Natural       Geophysical    Earthquake  NaN    3.692  127.8168

   Start Year  Start Month  Start Day  End Year  End Month  End Day  \
0        2025          2.0        7.0      2025        2.0      7.0
1        2025          2.0        2.0      2025        2.0      7.0
2        2025          2.0        1.0      2025        2.0      7.0
3        2025          2.0        7.0      2025        2.0      7.0
4        2025          2.0        7.0      2025        2.0      7.0

   Total Deaths  No. Injured  No. Affected  No. Homeless  Total Affected  \
0           NaN          NaN           NaN           NaN             NaN
1           NaN          NaN           NaN           NaN             NaN
2           NaN          NaN           NaN           NaN             NaN
3           NaN          NaN           NaN           NaN             NaN
4           NaN          NaN           NaN           NaN             NaN

   Total Damages ('000 US$)   Magnitude Magnitude Scale
0                       NaN    5.000000               M
1                       NaN  157.406400            km/h
2                       NaN  253.331712            km/h
3                       NaN    4.800000               M
4                       NaN    4.600000               M
         Start Year   Start Month     Start Day      End Year     End Month  \
count  32319.000000  31864.000000  27129.000000  32319.000000  31449.000000
mean    2003.919335      6.458260     15.290169   2003.964170      6.586060
std       16.756305      3.404272      8.968016     16.744588      3.374128
min     1900.000000      1.000000      1.000000   1900.000000      1.000000
25%     2000.000000      4.000000      7.000000   2000.000000      4.000000
50%     2007.000000      7.000000     15.000000   2007.000000      7.000000
75%     2015.000000      9.000000     23.000000   2015.000000      9.000000
max     2025.000000     12.000000     31.000000   2025.000000     12.000000

            End Day  Total Deaths   No. Injured  No. Affected  No. Homeless  \
count  27264.000000  2.434300e+04  9.848000e+03  1.663400e+04  3.761000e+03
mean      15.755392  1.406115e+03  1.789919e+03  7.709122e+05  5.853399e+04
std        8.882338  4.704712e+04  2.962886e+04  7.790932e+06  4.397501e+05
min        1.000000  1.000000e+00  1.000000e+00  1.000000e+00  3.000000e+00
25%        8.000000  7.000000e+00  1.100000e+01  1.000000e+03  5.000000e+02
50%       16.000000  1.700000e+01  3.000000e+01  8.708000e+03  2.500000e+03
75%       24.000000  4.300000e+01  1.122500e+02  7.862950e+04  1.253900e+04
max       31.000000  3.700000e+06  1.800000e+06  3.300000e+08  1.585000e+07

       Total Affected  Total Damages ('000 US$)     Magnitude
count    2.358800e+04              5.245000e+03  8.363000e+03
mean     5.537191e+05              7.247835e+05  5.292640e+04
std      6.594040e+06              4.723131e+06  5.283236e+05
min      1.000000e+00              2.000000e+00 -5.700000e+01
25%      1.877500e+02              8.300000e+03  7.000000e+00
50%      2.856500e+03              6.000000e+04  1.690000e+02
75%      3.365000e+04              3.173000e+05  1.499500e+04
max      3.300000e+08              2.100000e+08  4.000000e+07

In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("Datasets/integrated.csv")  # Modify path if needed

# Initial inspection
print("Dataset Info:\n")
print(df.info())

print("\nFirst Five Rows:\n")
print(df.head())

print("\nSummary Statistics:\n")
print(df.describe())

print("\nMissing Values:\n")
print(df.isnull().sum())

print("\nDuplicate Records:", df.duplicated().sum())

print("\nData Types:\n")
print(df.dtypes)

print("\nFeature Relevance Check:\n")
print(df.nunique())  # Shows unique values per column to check for low-variance features

Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32319 entries, 0 to 32318
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Disaster Group            32319 non-null  object
 1   Disaster Subgroup         32319 non-null  object
 2   Disaster Type             32319 non-null  object
 3   ISO                       32309 non-null  object
 4   Latitude                  4648 non-null   object
 5   Longitude                 4651 non-null   object
 6   Start Year                32319 non-null  int64
 7   Start Month               31864 non-null  float64
 8   Start Day                 27129 non-null  float64
 9   End Year                  32319 non-null  int64
 10  End Month                 31449 non-null  float64
 11  End Day                   27264 non-null  float64
 12  Total Deaths              24343 non-null  float64
 13  No. Injured               9848 non-null   float64
 14  No. Affected              16634 non-null  float64
 15  No. Homeless              3761 non-null   float64
 16  Total Affected            23588 non-null  float64
 17  Total Damages ('000 US$)  5245 non-null   float64
 18  Magnitude                 8363 non-null   float64
 19  Magnitude Scale           25105 non-null  object
dtypes: float64(11), int64(2), object(7)
memory usage: 4.9+ MB
None

First Five Rows:

  Disaster Group Disaster Subgroup Disaster Type  ISO Latitude Longitude  \
0        Natural       Geophysical    Earthquake  IDN  -1.9708  138.9033
1        Natural    Meteorological         Storm  NaN    -15.8      96.9
2        Natural    Meteorological         Storm  NaN    -20.0     75.83
3        Natural       Geophysical    Earthquake  TWN  23.1911  120.5429
4        Natural       Geophysical    Earthquake  NaN    3.692  127.8168

   Start Year  Start Month  Start Day  End Year  End Month  End Day  \
0        2025          2.0        7.0      2025        2.0      7.0
1        2025          2.0        2.0      2025        2.0      7.0
2        2025          2.0        1.0      2025        2.0      7.0
3        2025          2.0        7.0      2025        2.0      7.0
4        2025          2.0        7.0      2025        2.0      7.0

   Total Deaths  No. Injured  No. Affected  No. Homeless  Total Affected  \
0           NaN          NaN           NaN           NaN             NaN
1           NaN          NaN           NaN           NaN             NaN
2           NaN          NaN           NaN           NaN             NaN
3           NaN          NaN           NaN           NaN             NaN
4           NaN          NaN           NaN           NaN             NaN

   Total Damages ('000 US$)   Magnitude Magnitude Scale
0                       NaN    5.000000               M
1                       NaN  157.406400            km/h
2                       NaN  253.331712            km/h
3                       NaN    4.800000               M
4                       NaN    4.600000               M

Summary Statistics:

         Start Year   Start Month     Start Day      End Year     End Month  \
count  32319.000000  31864.000000  27129.000000  32319.000000  31449.000000
mean    2003.919335      6.458260     15.290169   2003.964170      6.586060
std       16.756305      3.404272      8.968016     16.744588      3.374128
min     1900.000000      1.000000      1.000000   1900.000000      1.000000
25%     2000.000000      4.000000      7.000000   2000.000000      4.000000
50%     2007.000000      7.000000     15.000000   2007.000000      7.000000
75%     2015.000000      9.000000     23.000000   2015.000000      9.000000
max     2025.000000     12.000000     31.000000   2025.000000     12.000000

            End Day  Total Deaths   No. Injured  No. Affected  No. Homeless  \
count  27264.000000  2.434300e+04  9.848000e+03  1.663400e+04  3.761000e+03
mean      15.755392  1.406115e+03  1.789919e+03  7.709122e+05  5.853399e+04
std        8.882338  4.704712e+04  2.962886e+04  7.790932e+06  4.397501e+05
min        1.000000  1.000000e+00  1.000000e+00  1.000000e+00  3.000000e+00
25%        8.000000  7.000000e+00  1.100000e+01  1.000000e+03  5.000000e+02
50%       16.000000  1.700000e+01  3.000000e+01  8.708000e+03  2.500000e+03
75%       24.000000  4.300000e+01  1.122500e+02  7.862950e+04  1.253900e+04
max       31.000000  3.700000e+06  1.800000e+06  3.300000e+08  1.585000e+07

       Total Affected  Total Damages ('000 US$)     Magnitude
count    2.358800e+04              5.245000e+03  8.363000e+03
mean     5.537191e+05              7.247835e+05  5.292640e+04
std      6.594040e+06              4.723131e+06  5.283236e+05
min      1.000000e+00              2.000000e+00 -5.700000e+01
25%      1.877500e+02              8.300000e+03  7.000000e+00
50%      2.856500e+03              6.000000e+04  1.690000e+02
75%      3.365000e+04              3.173000e+05  1.499500e+04
max      3.300000e+08              2.100000e+08  4.000000e+07

Missing Values:

Disaster Group                  0
Disaster Subgroup               0
Disaster Type                   0
ISO                            10
Latitude                    27671
Longitude                   27668
Start Year                      0
Start Month                   455
Start Day                    5190
End Year                        0
End Month                     870
End Day                      5055
Total Deaths                 7976
No. Injured                 22471
No. Affected                15685
No. Homeless                28558
Total Affected               8731
Total Damages ('000 US$)    27074
Magnitude                   23956
Magnitude Scale              7214
dtype: int64

Duplicate Records: 4249

Data Types:

Disaster Group               object
Disaster Subgroup            object
Disaster Type                object
ISO                          object
Latitude                     object
Longitude                    object
Start Year                    int64
Start Month                 float64
Start Day                   float64
End Year                      int64
End Month                   float64
End Day                     float64
Total Deaths                float64
No. Injured                 float64
No. Affected                float64
No. Homeless                float64
Total Affected              float64
Total Damages ('000 US$)    float64
Magnitude                   float64
Magnitude Scale              object
dtype: object

Feature Relevance Check:

Disaster Group                 2
Disaster Subgroup              9
Disaster Type                 37
ISO                          233
Latitude                    2617
Longitude                   2677
Start Year                   126
Start Month                   12
Start Day                     31
End Year                     126
End Month                     12
End Day                       31
Total Deaths                 915
No. Injured                  865
No. Affected                4028
No. Homeless                 966
Total Affected              5722
Total Damages ('000 US$)    1565
Magnitude                   2318
Magnitude Scale               11
dtype: int64